body {
    background: linear-gradient(to bottom, #0e9b50, #1e0ead); /* Substitua as cores pelas cores desejadas */
    font-family: Arial, sans-serif;
    color: #333; /* Cor do texto */
    margin: 0; /* Remover margens padrão */
    
}
.conteiner-geral {
            display: flex;
            flex-direction: column; /* Altera para uma disposição de coluna em dispositivos móveis */
            justify-content: center;
            align-items: center;
            min-height: 80vh; /* Use min-height para garantir que o conteúdo seja visível em telas menores */
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

       /* Estilo para o código QR e a logo */
#qrcode-container {
    display: flex;
   max-width: 300px; /* Defina a largura máxima do contêiner para 200px */
    width: 100%;
    text-align: center;
    flex-direction: column;
    
   
justify-content: center;
    align-items: center;
    background-color: #0300009a;
    position: relative;
    text-align: center; 
    margin: 0 auto;
}

#qrcode {
    padding: 5px;
    width: 200px; /* Defina o tamanho do QR code para 200x200 */
    height: 200px;
}


/* CSS for your container */
#qrcode-container {
    /* Your existing styles for the container */
    transition: transform 0.3s ease; /* Add a transition for smoothness */
}

/* Add a hover effect to the container */
#qrcode-container:hover {
    transform: translateY(-10px); /* Move the container slightly up when hovered */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow for elevation */
}

#logo {
   width: 50%;
   height: auto;
   max-width: 100%;
}
/* CSS for your container */
.navbar a {
    /* Your existing styles for the container */
    transition: transform 0.3s ease; /* Add a transition for smoothness */
}
/* Add a hover effect to the container */
.navbar a:hover {
    transform: translateY(-3px); /* Move the container slightly up when hovered */
    box-shadow: 0 4px 8px rgba(49, 46, 46, 0.409); /* Add a subtle box shadow for elevation */
    background-color: hsla(118, 90%, 19%, 0.527);
}



/* Estilo para o botão de download */
#downloadCustomImage {
    display: block;
    margin: 20px auto; /* Centralizar o botão de download */
    background-color: #007bff;
    color: #fff;
    border-radius: 7px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Adicione uma transição de cor de fundo */
}

/* Adicione um estilo quando o mouse estiver sobre o botão */
#downloadCustomImage:hover {
    background-color: #0d3561; /* Por exemplo, torne o botão um pouco mais escuro quando houver hover */
}


/* Estilo para o footer com redes sociais */
#footer {
    background-color: #333;
    color: #12b0e0;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px; /* Adicionar margem superior para separar do conteúdo principal */
}

/* Estilo para os ícones de redes sociais */
.social-icon {
    font-size: 24px;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

        .navbar {
            overflow: hidden;
            background-color: #333;
            position: relative; /* Adicione position: relative; */
            top: 0; /* Defina a posição inicial no topo */
            width: 100%;
            z-index: 100; /* Certifique-se de que a barra de navegação esteja na parte superior */
            transition: top 0.3s;
        }
        .content {
            margin-top: 60px; /* Adicione uma margem superior igual à altura da barra de navegação */
        }

        .navbar.fixed {
            position: fixed;
            top: 0;
        }

        .navbar a {
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: background-color 0.3s;
            border-radius: 3px;
        }

        .navbar .icon {
            display: none;
        }

        @media screen and (max-width: 600px) {
            .navbar a:not(:first-child) {
                display: none;
            }
            .navbar a.icon {
                float: right;
                display: block;
            }
        }

        /* Estilo para o menu responsivo */
        .navbar.responsive {
            position: relative;
        }

        .navbar.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .navbar.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
        /* Default styles for your header */
h1 {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #33333305;
    color: white;
    padding: 50px;
    z-index: 1000;
}

/* Media query for screens smaller than 768px (adjust the breakpoint as needed) */
@media screen and (max-width: 1500px) {
    h1 {
        position: relative; /* Change to relative positioning on smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
        text-align: center; /* Center-align text on smaller screens */
    }
}

      
        a:hover {
         background-color: #184877;
        }
        /* Estilo parágrafos */
        
        #material {
            padding: 5px;
            color: white;
            margin: 0;
        }

    
        /* Estilo para tornar o texto responsivo em telas menores */
        @media screen and (max-width: 768px) {
            p {
                font-size: 14px; /* Tamanho da fonte reduzido para telas menores */
            }
        }
        #codigo {
            color: rgb(253, 253, 253);
            padding: 3px;
            margin: 0;
        }
