/* Estilos gerais */
body {
    background: linear-gradient(to bottom, #0e9b50, #1e0ead);
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
}

/* Barra de navegação */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
}

/* Links da barra de navegação */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 3px;
}

/* Links da barra de navegação no modo mobile */
.navbar a.hidden.mobile {
    display: none;
}

/* Ícone de menu no modo mobile */
.navbar .icon.mobile {
    display: block;
    float: right;
    cursor: pointer;
}

/* Título da página */
h1 {
    position: relative;
    text-align: center;
    background-color: #33333305;
    color: white;
    padding: 20px;
    z-index: 1000;
    margin: 60px 20px 20px;
    transition: top 0.3s;
}

/* Título da página no modo mobile */
h1.mobile {
    padding: 10px;
    margin: 0;
    position: relative;
    background-color: transparent;
}

/* Container geral */
.conteiner-geral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

/* Container do QR code */
#qrcode-container {
    display: flex;
    max-width: 225px;
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(249, 249, 249, 0.6);
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

/* Container do QR code no modo mobile */
#qrcode-container.mobile {
    max-width: 100%;
    width: auto;
    padding: 20px;
}

/* QR code */
#qrcode {
    padding: 5px;
    width: 200px;
    height: 200px;
}

/* QR code no modo mobile */
#qrcode.mobile {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* Conteúdo visível apenas quando a página é rolada para baixo */
.content {
    margin-top: 0;
    transition: margin-top 0.3s;
}

/* Material e código */
#material, #codigo {
    padding: 5px;
    color: rgb(3, 3, 3);
    margin: 0;
}

/* Botão de download */
#downloadCustomImage {
    display: block;
    margin: 20px auto;
    background-color: #007bff;
    color: #fff;
    border-radius: 7px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#downloadCustomImage:hover {
    background-color: #0d3561;
}

/* Rodapé */
#footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

/* Ícones de redes sociais */
.social-icon {
    margin: 10px;
    color: #fff;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.1);
}

/* Informações de contato */
.contact-info {
    margin-top: 20px;
}

/* Ajuste do tamanho da logo em telas menores, se necessário */
@media screen and (max-width: 768px) {
    #logo {
        max-width: 80%;
    }
}
