body {
    background: linear-gradient(to bottom, #0e9b50, #1e0ead);
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
}

.conteiner-geral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px; /* Adicione um preenchimento para o conteúdo dentro do contêiner */
}

#qrcode-container {
    display: flex;
    max-width: 225px;
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(249, 249, 249, 0.6); /* Use rgba para transparência no fundo */
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 20px; /* Adicione um preenchimento interno ao contêiner */
    border-radius: 10px; /* Adicione borda arredondada ao contêiner */
}

#qrcode {
    padding: 5px;
    width: 200px;
    height: 200px;
}

#qrcode-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.723);
    background-color: rgba(165, 160, 160, 0.8); /* Escureça o fundo ao passar o mouse */
}
#logo {
    max-width: 100%; /* Defina a largura máxima como 100% para evitar que a logo fique maior do que o seu contêiner */
    height: auto; /* Mantenha a altura automática para preservar a proporção */
}

/* Ajuste o tamanho da logo em telas menores, se necessário */
@media screen and (max-width: 768px) {
    #logo {
        max-width: 80%; /* Reduza a largura da logo em telas menores */
    }
}

    .navbar {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000; /* Aumente o z-index para que a navbar esteja sempre sobreposta ao h1 */
        transition: top 0.3s;
    }

.content {
    margin-top: 100px;
}

.navbar.fixed {
    position: fixed;
    top: 0;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 3px;
}

.navbar a:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(49, 46, 46, 0.409);
    background-color: hsla(119, 89%, 36%, 0.527);
}

/* Adicione uma classe para esconder os links da navbar */
.navbar a.hidden {
    display: none;
}

/* Estilize o ícone de menu */
.navbar .icon {
    display: none;
    float: right;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .navbar a:not(.icon) {
        display: none;
    }
    .navbar .icon {
        display: block;
    }
}

h1 {
    position: relative;
    text-align: center;
    background-color: #33333305;
    color: white;
    padding: 20px; /* Aumente o preenchimento para telas menores */
    
   
z-index: 1000;
    margin: 60px 20px 20px; /* Adicione uma margem superior para empurrar o h1 abaixo da navbar */
    transition: top 0.3s; /* Adicione uma transição para suavizar o movimento */
}

@media screen and (max-width: 768px) {
    h1 {
        padding: 10px;
        margin: 60px 10px 10px; /* Ajuste a margem para telas menores */
    }
}

a:hover {
    background-color: #184877;
}

#material {
    padding: 5px;
    color: rgb(3, 3, 3);
    margin: 0;
}

@media screen and (max-width: 768px) {
    p {
        font-size: 14px;
    }
}

#codigo {
    color: rgb(0, 0, 0);
    padding: 3px;
    margin: 0;
}

#downloadCustomImage {
    display: block;
    margin: 20px auto; /* Centralize o botão de download */
    background-color: #007bff;
    color: #fff;
    border-radius: 7px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Adicione uma transição de cor de fundo */
}

#downloadCustomImage:hover {
    background-color: #0d3561;
}

#footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

.social-icon {
    margin: 10px;
    color: #fff;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.1);
}

.contact-info {
    margin-top: 20px;
}
